<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Options Page</title>
    <!-- bower:css -->
    <!-- endbower -->

    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- bower:js -->
    <!-- endbower -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div id="main">
      <header>
        Options Page
      </header>
    </div>
  </body>
</html>
